/* Default styling for larger screens */
.ted-organisers-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.ted-image-card {
  width: calc(33.333% - 16px); /* Three cards per row */
  max-width: 400px; /* Limit the maximum size of each card */
  height: 450px; /* Let the height be dynamic */
  position: relative;
  transition: transform 0.4s ease-in;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.ted-image-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.6s ease-in;
  border-radius: 10px;
}

.ted-image-card:hover img {
  transform: scale(1.2);
}

.ted-image-card::after {
  content: attr(data-name);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(100%);
  transition: transform 0.4s ease-in;
}

.ted-image-card:hover::after {
  transform: translateY(0);
}

/* Media queries for different screen sizes */
@media (max-width: 1024px) {
  .ted-image-card {
    width: calc(50% - 16px); /* Two cards per row on medium screens */
  }
}

@media (max-width: 768px) {
  .ted-organisers-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns grid */
    gap: 16px;
  }

  .ted-image-card {
    width: 100%; /* Make each card take full width within the grid */
    height: auto; /* Adjust the height to auto */
  }
}

@media (max-width: 480px) {
  .ted-organisers-container {
    display: grid;
    grid-template-columns: 1fr; /* Two columns grid */
    gap: 16px;
  }

  .ted-image-card {
    width: 100%; /* Full width */
    height: 350px;
  }
}
